.item {
  background-color: #eee;
  border-radius: 15px;
  padding: 10px;
}

.header, .body {
  padding: 10px;
}

.header {
  background-color: #fafafa;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 10px;
}

.button {
  align-self: center;
  background-color: transparent;
  border-radius: 5px;
  transition: all 0.2s;
  padding: 5px 10px;

  border: 1px solid var(--color-button);
  color: var(--color-button);

  &:hover {
    background-color: var(--color-button);
    color: #fafafa;
  }

  &:active {
    --color-active: color-mix(in srgb, var(--color-button) 90%, black 10%);
    background-color: var(--color-active);
    border-color: var(--color-active);
  }
}

.delete {
  --color-button: #FF3636;
}

.change {
  --color-button: #ff9036;
}

.body {
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  &Bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.date {
  color: #777;
  font-size: 14px;
}