.wrapper {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  input, textarea {
    width: 100%;
  }

  textarea {
    resize: none;
  }
}

.title {
  align-self: center;
}